<a href="https://colab.research.google.com/github/lucasarneiro5/Only-Python/blob/main/List_and_Dictionary_Comprehension_Lambda_()_Map_()_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **List Comprehension**

- [Blog no Medium](https://medium.com/data-hackers/aprenda-list-comprehension-7335844265bd)


- [Blog do DataCamp](https://www.datacamp.com/community/tutorials/python-list-comprehension?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=278443377095&utm_targetid=aud-392016246653:dsa-486527602543&utm_loc_interest_ms=&utm_loc_physical_ms=1001575&gclid=Cj0KCQjwqKuKBhCxARIsACf4XuH5EgTvQsg8bYAfK3sVqoIC3emSM5grTbWTIEyi2n8R_VzHQSjP_yAaAuGVEALw_wcB)

In [ ]:
# Forma tradicional de dobrar uma lista
preços = [500, 1500, 2000, 100, 25]
nova_lista = []
for i in preços:
  nova_lista.append(i*2)
print(nova_lista)

[1000, 3000, 4000, 200, 50]

In [ ]:
# Dobrar uma lista com List Comprehension
nova_lista_comprehension = [i*2 for i in preços]
nova_lista_comprehension

[1000, 3000, 4000, 200, 50]

In [ ]:
# Creating a list from 0 to 9 elevating each element by 2
S = [x**2 for x in range(10)]
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Tabuada
def tabuada(n):
  lst = range(1,11)
  result = [n*i for i in lst]
  return result

tabuada(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

**List Comprehension with If-Else**

*newlist = [expression for item in iterable if condition == True]*

In [ ]:
# Todos os produtos acima de 1000, imposto sobre 50% do valor
imposto = [i*0.5 for i in preços if i > 1000]
imposto

[750.0, 1000.0]

In [ ]:
# Detecting if there is any even element
even = [i for i in S if i%2 == 0]
even

[0, 4, 16, 36, 64]

In [ ]:
# List Comprehension with If-Else
lst = [100,45,294,23904,395,3864,87495,233,2245,67,788,998,776,900]
print([x if x < 300 else "Maior que 300!" for x in lst])

[100, 45, 294, 'Maior que 300!', 'Maior que 300!', 'Maior que 300!', 'Maior que 300!', 233, 'Maior que 300!', 67, 'Maior que 300!', 'Maior que 300!', 'Maior que 300!', 'Maior que 300!']

**Dictionary Comprehension**

In [ ]:
# Building Dictionary Comprehension
frutas = ['banana', 'maçã', 'pera', 'tomate', 'uva']

{i:frutas[i] for i in range(len(frutas))}

{0: 'banana', 1: 'maçã', 2: 'pera', 3: 'tomate', 4: 'uva'}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
# Put all keys of `dict1` in a list and returns the list
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
dict1.values()

dict_values([1, 2, 3, 4])

In [ ]:
dict1.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [ ]:
dict_variable = {key:value for (key, value) in dict1.items()}
dict_variable

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f':6}
# Double each value in the dictionary
dict_comprehension = {k:v*2 for (k,v) in dict1.items()}
dict_comprehension

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10, 'f': 12}

In [ ]:
# IF - ELSE
dict_tripleCond = {k:('even' if v%2==0 else 'odd') for (k,v) in dict1.items()}
dict_tripleCond

{'a': 'odd', 'b': 'even', 'c': 'odd', 'd': 'even', 'e': 'odd', 'f': 'even'}

==========================================================================

### **Lambda ( )**

Pequena função anonima. Pode ter qualquer numero de argumentos, mas apenas 1 expressão.

*lambda* arguments : expression

Fonte: https://realpython.com/python-lambda/

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b, c: a + b + c
print(x(5,6,7))

18

In [ ]:
# We can make a lamba inside from another function

def myfunction(n):
  return lambda a : a*n

mydoubler = myfunction(2)
mytripler = myfunction(3)

print('The double of the number is: ', mydoubler(2))
print('The triple of the number is: ',mytripler(3))

The double of the number is:  4
The triple of the number is:  9

In [ ]:
# We can use the argument by surrounding the function
(lambda x: x + 1)(2)

3

In [ ]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('lucas', 'vieira')

'Full name: Lucas Vieira'

In [ ]:
(lambda *args: sum(args))(1,2,3)

6

In [ ]:
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

==========================================================================

### **Map ()**

Consiste em aplicar uma função de transformação a um iterável para produzir um novo iterável. Os itens no novo iterável são produzidos chamando a função de transformação em cada item no iterável original.

*map(function, iterable[, iterable1, iterable2,..., iterableN])*

* **function** = função que iremos aplicas
* **iterable** = elementos que vamos aplicar a 'function'

https://realpython.com/python-map-function/

In [ ]:
def double(number):
  return number*2

numbers = [1,2,3,4,5]
dobro = map(double, numbers)
list(dobro)

[2, 4, 6, 8, 10]

In [ ]:
# Transformar uma lista em string para inteiro
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

inteiros = map(int, str_nums)
list(inteiros)

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [ ]:
# Map () + Lambda ()
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)

print(list(squared), '\n')

# Example 2:
print(list(map(lambda x, y: x -y, [2,4,6], [1,3,5])))

# Example 3:
list(map(lambda x, y, z: x + y + z, [2,4], [1,3], [7,8]))

[1, 4, 9, 16, 25]

[1, 1, 1]

[10, 15]

In [ ]:
string_it = ["processing", "strings", "with", "map"]
list(map(str.capitalize, string_it))

['Processing', 'Strings', 'With', 'Map']